# Imports

In [1]:
import pandas as pd
from utils.data_preparation import split_time_based

# Load data

In [2]:
df = pd.read_csv('data/raw/creditcard.csv')
df.head(3)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0

# Split and save test

In [3]:
df_train, df_test = split_time_based(df, 'Time', 0.05)

len(df_train) / len(df), len(df_test) / len(df)

(0.9499977177527238, 0.05000228224727622)

In [4]:
df_test.to_csv('data/processed/test.csv', index=False)

# Split train and val

In [5]:
df_train, df_val = split_time_based(df_train, 'Time', 0.1)

len(df_train) / len(df), len(df_val) / len(df)

(0.8550070749665563, 0.09499064278616748)

In [7]:
df_train.to_csv('data/ready/train.csv', index=False)

In [8]:
df_val.to_csv('data/ready/val.csv', index=False)